{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<title>FlyEr - Відновлення паролю</title>
    <div class="content-section">

        <form method="POST">

            {% csrf_token %}

            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Скинути пароль</legend>

                {{ form|crispy }}

            </fieldset>

            <div class="form-group">

                <button class="btn btn-outline-info" type="submit">Скинути пароль</button>

            </div>

        </form>

    </div>

{% endblock content %}