 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">FlyER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Домашня сторінка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'map:show_map' %}">Карта майстернь</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Соціал
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'articles:article-list' %}">Форум</a>
          <a class="dropdown-item" href="{% url 'articles:category-page' %}">За категоріями</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'articles:article-create' %}">Додати статтю</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products:product-list1' %}">Ринок</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Мій профіль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat:chatlist' %}">Повідомлення</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Вихід</a>
          </li>
        {% else %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вхід</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Реєстрація</a>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>




          